<!DOCTYPE html>
<html lang="zxx">
  
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Books Wagon</title>
    <link rel="icon" href="/assets/img/logo-new" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <!-- animate CSS -->
    <link rel="stylesheet" href="/assets/css/animate.css" />
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css" />
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/assets/css/all.css" />
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/assets/css/flaticon.css" />
    <link rel="stylesheet" href="/assets/css/themify-icons.css" />
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css" />
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/assets/css/slick.css" />
    <!-- style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" />

   
    <!-- Add the toastify-js CSS file -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" />



    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.all.min.js"></script>
     

     <!-- magic zoom -->
     <link rel="stylesheet" href="magiczoom/magiczoom.css">
<script src="magiczoom/magiczoom.js"></script>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> -->
  </head>

  <body>
    <!--::header part start::-->
    <header class="main_menu home_menu">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-3">
            <h4>
              <a class="nav-link" href=""
                >Welcome <%- locals.username -%> !!!</a
              >
            </h4>
          </div>
          <div class="col-lg-2">
            <a class="navbar-brand" href="/">
              <img src="/assets/img/logo-new.png" alt="logo" />
            </a>
          </div>
          <div class="col-lg-7">
            <nav class="navbar navbar-expand-lg navbar-light">
              <ul>
                <li class="nav-item"></li>
              </ul>
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="menu_icon"><i class="fas fa-bars"></i></span>
              </button>

              <div
                class="collapse navbar-collapse main-menu-item"
                id="navbarSupportedContent"
              >
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="/product_list">product</a>
                  </li>
                  
                 
                  <li class="nav-item ">
                    <a
                      class="nav-link "                    
                      href="/user_order"
                    >
                     History
                    </a>
                   
                  </li>

                 
                  <% if(locals.username) { %>

                  <li class="nav-item">
                    <a class="nav-link" href="/user_profile">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/wishlist"><i class=" fas  fa-heart" style="color: #dd1604;"></i></a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link" href="/cart"><i class="flaticon-shopping-cart-black-shape"></i></a>
                  </li>

                  <% } %>
                </ul>
              </div>
            
              <% if(locals.username) { %>
              <a href="/user_logout">
                <button type="button" class="btn btn-info ml-5">Logout</button>
              </a>
              <%}%>
            </nav>
          </div>
        </div>
      </div>
      <div class="search_input" id="search_input_box">
        <div class="container">
          
        </div>
      </div>
    </header>

<!-- breadcrumb part start-->
<section class="breadcrumb_part">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb_iner">
          <h2>Personal Details</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- breadcrumb part end-->


<!--================Checkout Area =================-->
<section class="checkout_area section_padding">
  <div class="container">
    <div class="billing_details">
      <div class="row">
        <!-- <div class="form-group mt-3">
              <label for="photo">Photo file:</label>
              <input type="file" class="form-control-file" name="photo" />
            </div> -->
          
        <div class="col-lg-8">
          <form
          action="/update_userProfile/<%= user._id %>"
          id="update_category"
          name="basic"
          method="post"
          enctype="multipart/form-data"
          
        >
        <div class="mb-3">
          <label for="photo" class="form-group ml-5">Photo file:</label>
          <% if(user.photo[0]) { %>
              <input
                  type="file"
                  name="photo"
                  value="<%= user.photo[0] %>"
                  class="form-control-file"
              />
          <% } else { %>
              <input
                  type="file"
                  name="photo"
                  accept="image/*"
                  class="form-control-file"
              />
              <img src="/assets/img/dummy-profile-pic.png" alt="Dummy Profile Pic" />
          <% } %>
      </div>
          <div class="mb-3">
            <label for="category" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
             
              name="username"
              value="<%= user.name %>"
            />
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Phone</label>
            <input
              type="text"
              class="form-control"
             
              name="phone"
              value="<%= user.phone %>"
            />
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Email</label>
            <input
              type="text"
              class="form-control"
             
              name="email"
              value="<%= user.email %>"
            />
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Gender</label>
            <input
              type="text"
              class="form-control"
             
              name="gender"
              value="<%= user.gender %>"
            />
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Account Number</label>
            <input
              type="text"
              class="form-control"
             
              name="acc"
              value="<%= user.account_no %>"
            />
          </div>
          <button type="submit" class="btn btn-primary">Update Profile</button>
        </form>
        </div>
      </div>
    </div>
  </div>
</section>


    <!--::footer_part start::-->
    <footer class="footer_part">
      <div class="footer_iner">
          <div class="container">
              <div class="row justify-content-between align-items-center">
              
                  
              </div>
          </div>
      </div>
      
     
  </footer>
  <!--::footer_part end::-->

   <!-- Add the jQuery library -->
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
   <!-- Add the toastify-js JavaScript file -->
   <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>


  <!-- jquery plugins here-->
  <script src="/assets/js/jquery-1.12.1.min.js"></script>
  <!-- popper js -->
  <script src="/assets/js/popper.min.js"></script>
  <!-- bootstrap js -->
  <script src="/assets/js/bootstrap.min.js"></script>
  <!-- magnific popup js -->
  <script src="/assets/js/jquery.magnific-popup.js"></script>
  <!-- carousel js -->
  <script src="/assets/js/owl.carousel.min.js"></script>
  <script src="/assets/js/jquery.nice-select.min.js"></script>
  <!-- slick js -->
  <script src="/assets/js/slick.min.js"></script>
  <script src="/assets/js/jquery.counterup.min.js"></script>
  <script src="/assets/js/waypoints.min.js"></script>
  <script src="/assets/js/contact.js"></script>
  <script src="/assets/js/jquery.ajaxchimp.min.js"></script>
  <script src="/assets/js/jquery.form.js"></script>
  <script src="/assets/js/jquery.validate.min.js"></script>
  <script src="/assets/js/mail-script.js"></script>
  <!-- custom js -->
  <script src="/assets/js/custom.js"></script>


 
</body>

</html>