<%- include('header') %>

<!-- Form Start -->
<div class="container-fluid pt-4 px-4">
  <div class="row g-4 align-items-center justify-content-center mt-5">
    <div class="col-sm-12 col-xl-6">
      <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Update Product</h6>
        <form action="/update_product/<%= user._id %>" id="update_product" name="basic" method="post" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              name="name"  value="<%= user.name %>"
              id="exampleInputPassword1"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">price</label>
            <input
              type="number"
              class="form-control"
              name="price"  value="<%= user.price %>"
              
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Stock</label>
            <input
              type="number"
              class="form-control"
              name="stock"  value="<%= user.stock %>"
              
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Description</label
            >
            <input type="text" class="form-control" name="description" value="<%= user.description %>" />
          </div>
       
          <div class="form-group mt-3">
            <label for="image">Photo file:</label>
           
            <input type="file" multiple class="form-control-file" id="photo" name="photo">
            <% for(let i=0;i < user.photo.length; i++){ %>
            <img src="/<%= user.photo[i] %>" width="100" class="img-thumbnail mt-3 ml-2" alt="">
            <% } %>  
          </div>
      
          <div class="form-group dropdown mt-4">
            <button type="button" class="btn btn-light" data-toggle="dropdown">
              Categories
              <select class="sample category-cell" name="category">
                <% category.forEach(function(product) { %>
                  <option value="<%= product.category %>" <% if (product.category === categoryName) { %>
                    selected
                  <% } %>>
                    <%=  product.category %>
                  </option>
                <% }); %>
              </select>
            </button>
          </div>

          <button type="submit" class="btn btn-primary mt-5">
            Update Product
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Form End -->

<%- include('footer') %>
